@{
    ViewData["Title"] = "Analytics";
}
@model crash_severity_data

<div class="text-center">

    <h1>Driver Education</h1>
    <h4>How severe might a crash be if the crash happens under these conditions?</h4>

</div>

@*
    WE WANT TO DISPLAY THE CRASH SEVERITY PREDICTION HERE   
*@


<br />
<div>
    <form method="post" asp-action="Score" asp-controller="Inference">


        <div class="accordion" id="accordionExample">



            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Time Information
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group col-md-4">
                                <div>
                                    <label asp-for="hour">Crash Hour of the day</label>
                                    <select class="form-control" asp-for="hour">
                                        <option value="0">12:00 AM</option>
                                        <option value="1">1:00 AM</option>
                                        <option value="2">2:00 AM</option>
                                        <option value="3">3:00 AM</option>
                                        <option value="4">4:00 AM</option>
                                        <option value="5">5:00 AM</option>
                                        <option value="6">6:00 AM</option>
                                        <option value="7">7:00 AM</option>
                                        <option value="8">8:00 AM</option>
                                        <option value="9">9:00 AM</option>
                                        <option value="10">10:00 AM</option>
                                        <option value="11">11:00 AM</option>
                                        <option value="12">12:00 PM</option>
                                        <option value="13">1:00 PM</option>
                                        <option value="14">2:00 PM</option>
                                        <option value="15">3:00 PM</option>
                                        <option value="16">4:00 PM</option>
                                        <option value="17">5:00 PM</option>
                                        <option value="18">6:00 PM</option>
                                        <option value="19">7:00 PM</option>
                                        <option value="20">8:00 PM</option>
                                        <option value="21">9:00 PM</option>
                                        <option value="22">10:00 PM</option>
                                        <option value="23">11:00 PM</option>
                                    </select>
                                </div> @*Hour*@



                                <div>
                                    <label asp-for="weekday">Crash Day of the Week</label>
                                    <select class="form-control" asp-for="weekday">
                                        <option value="0">Monday</option>
                                        <option value="1">Tuesday</option>
                                        <option value="2">Wednesday</option>
                                        <option value="3">Thursday</option>
                                        <option value="4">Friday</option>
                                        <option value="5">Saturday</option>
                                        <option value="6">Sunday</option>
                                    </select>
                                </div> @*Weekday*@


                                <div>
                                    <label asp-for="month">Crash Month of the Year</label>
                                    <select class="form-control" asp-for="month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div> @*Month*@

                            </div>
                        </div> @*Form Group for Datetime selections*@

                    </div> @*End Card*@

                </div> @**Inner Accordian: collapseOne*@

            </div> @*End card*@
        </div>


            <div class="accordion" id="accordionExample">



                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Location Information
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">

                            <div>
                                <label>
                                    City
                                    <select class="form-control" name="City">
                                        <option value="1">Salt Lake City</option>
                                        <option value="2">West Valley</option>
                                        <option value="3">Other</option>
                                    </select>
                                </label>
                            </div> @*City*@

                            <div>
                                <label>
                                    County
                                    <select class="form-control" name="County">
                                        <option value="1">Salt Lake County</option>
                                        <option value="2">Weber County</option>
                                        <option value="3">Utah County</option>
                                        <option value="4">Other</option>
                                    </select>
                                </label>
                            </div> @*County*@

                            <div>
                                <label>
                                    Route
                                    <select class="form-control" name="Route">
                                        <option value="1">Route 89</option>
                                        <option value="2">Other</option>
                                    </select>
                                </label>
                            </div> @*City*@

                            <br />

                            <div class="form-group">
                                <div class="form-group col-md-4">
                                    <div>
                                        <label asp-for="milepoint">Milepoint</label>
                                        <input type="number" placeholder="E.g., 4.105" step="0.001" min="0.000" max="999.999" class="form-control" asp-for="milepoint" />
                                    </div>
                                </div>
                            </div> @*milepoint*@

                        </div> @*End Card*@

                    </div> @**Inner Accordian: collapseOne*@

                </div> @*End card*@


                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Additional Information
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            @*FIRST ROW*@
                            <div class="row">
                                <div class="col">
                                    <label asp-for="work_zone_related_True">In a work zone:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.work_zone_related_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.work_zone_related_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="pedestrian_involved_True">Pedestrian Involved:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.pedestrian_involved_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.pedestrian_involved_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="bicyclist_involved_True">Bicyclist Involved:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.bicyclist_involved_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.bicyclist_involved_True, 0) No
                                    </div>
                                    <br />
                                </div>
                            </div>

                            @*SECOND ROW*@
                            <div class="row">
                                <div class="col">
                                    <label asp-for="motorcycle_involved_True">Motorcycle Involved:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.motorcycle_involved_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.motorcycle_involved_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="commercial_motor_veh_involved_True">Commercial Vehicle Involved:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.commercial_motor_veh_involved_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.commercial_motor_veh_involved_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="improper_restraint_True">Improper Restraint:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.improper_restraint_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.improper_restraint_True, 0) No
                                    </div>
                                    <br />
                                </div>
                            </div>

                            @*THIRD ROW*@
                            <div class="row">
                                <div class="col">
                                    <label asp-for="unrestrained_True">Unrestrained:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.unrestrained_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.unrestrained_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="dui_True">DUI:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.dui_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.dui_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="drowsy_driving_True">Drowsy Driving:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.drowsy_driving_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.drowsy_driving_True, 0) No
                                    </div>
                                    <br />
                                </div>
                            </div>

                            @*FOURTH ROW*@
                            <div class="row">
                                <div class="col">
                                    <label asp-for="intersection_related_True">Intersection:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.intersection_related_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.intersection_related_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="wild_animal_related_True">Wild Animal Related:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.wild_animal_related_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.wild_animal_related_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="domestic_animal_related_True">Domestic Animal Related:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.domestic_animal_related_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.domestic_animal_related_True, 0) No
                                    </div>
                                    <br />
                                </div>
                            </div>

                            @*FIFTH ROW*@
                            <div class="row">
                                <div class="col">
                                    <label asp-for="overturn_rollover_True">Vehicle Rollover:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.overturn_rollover_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.overturn_rollover_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="teenage_driver_involved_True">Teenage Driver Involved:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.teenage_driver_involved_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.teenage_driver_involved_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="older_driver_involved_True">Older Driver Involved:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.older_driver_involved_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.older_driver_involved_True, 0) No
                                    </div>
                                    <br />
                                </div>
                            </div>

                            @*SIXTH ROW*@
                            <div class="row">
                                <div class="col">
                                    <label asp-for="night_dark_condition_True">Dark Conditions:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.night_dark_condition_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.night_dark_condition_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="single_vehicle_True">Single Vehicle:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.single_vehicle_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.single_vehicle_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">
                                    <label asp-for="distracted_driving_True">Distracted Driving:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.distracted_driving_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.distracted_driving_True, 0) No
                                    </div>
                                    <br />
                                </div>
                            </div>

                            @*SEVENTH ROW*@
                            <div class="row">

                                <div class="col">
                                    <label asp-for="roadway_departure_True">Left the Road:</label>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.roadway_departure_True, 1) Yes
                                    </div>
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.roadway_departure_True, 0) No
                                    </div>
                                    <br />
                                </div>

                                <div class="col">

                                </div>

                                <div class="col">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <br />
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-dark" asp-action="SeeTable">Cancel</button>
</form>
</div> @*End of Accordian*@
