@{
    ViewData["Title"] = " Crash Details";
}
@inject SignInManager<IdentityUser> signInManager;
@model Crash
<div class="d-flex justify-content-between">
    <div>
        <h1>Crash Details</h1>
        <h2>(<span class="font-italic font-weight-normal">@Model.CRASH_ID</span>)</h2>
    </div>
    <div class="pt-2">
        @*Chnage crash Severity to display text and not number *@
        <h5>Severity Level: <span class="font-weight-normal">@Model.CRASH_SEVERITY_ID</span></h5>
        <h5>Date and Time: <span class="font-weight-normal">@Model.CRASH_DATETIME</span></h5>
    </div>
</div>
<br />

@*THIS SHOWS ALL OF THE INFORMATION THAT WE HAVE THE ABILITY TO CHANGE*@

<div class="accordion" id="accordionExample">


    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Location Information
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <h5>Street: <span class="font-weight-normal">@Model.MAIN_ROAD_NAME</span></h5>
                        <br />
                        <h5>City: <span class="font-weight-normal">@Model.CITY</span></h5>
                        <br />
                        <h5>County: <span class="font-weight-normal">@Model.COUNTY_NAME</span></h5>
                    </div>
                    <div class="col">
                        <p><span class="font-weight-bold">Route: </span>@Model.ROUTE</p>
                        <p><span class="font-weight-bold">Milepoint: </span>@Model.MILEPOINT</p>
                        <p><span class="font-weight-bold">LAT: </span>@Model.LAT_UTM_Y</p>
                        <p><span class="font-weight-bold">LONG: </span>@Model.LONG_UTM_X</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Additional Information
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        @if (Model.WORK_ZONE_RELATED == true)
                        {
                            <p><span class="font-weight-bold">Work Zone Related: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Work Zone Related: </span>No</p>
                        }
                        @if (Model.MOTORCYCLE_INVOLVED == true)
                        {
                            <p><span class="font-weight-bold">Motorcyclist Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Motorcyclist Involved: </span>No</p>
                        }
                        @if (Model.DUI == true)
                        {
                            <p><span class="font-weight-bold">DUI: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">DUI: </span>No</p>
                        }
                        @if (Model.DOMESTIC_ANIMAL_RELATED == true)
                        {
                            <p><span class="font-weight-bold">Domestic Animal Related: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Domestic Animal Related: </span>No</p>
                        }
                        @if (Model.TEENAGE_DRIVER_INVOLVED == true)
                        {
                            <p><span class="font-weight-bold">Teenage Driver Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Teenage Driver Involved: </span>No</p>
                        }
                        @if (Model.SINGLE_VEHICLE == true)
                        {
                            <p><span class="font-weight-bold">Single Vehicle: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Single Vehicle: </span>No</p>
                        }
                        @if (Model.ROADWAY_DEPARTURE == true)
                        {
                            <p><span class="font-weight-bold">Roadway Departures: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Roadway Departures: </span>No</p>
                        }
                    </div>

                    <div class="col">
                        @if (Model.PEDESTRIAN_INVOLVED == true)
                        {
                            <p><span class="font-weight-bold">Pedestrian Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Pedestrian Involved: </span>No</p>
                        }
                        @if (Model.IMPROPER_RESTRAINT == true)
                        {
                            <p><span class="font-weight-bold">Improper Restraint Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Improper Restraint Involved: </span>No</p>
                        }
                        @if (Model.INTERSECTION_RELATED == true)
                        {
                            <p><span class="font-weight-bold">Intersection Related: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Intersection Related: </span>No</p>
                        }
                        @if (Model.OVERTURN_ROLLOVER == true)
                        {
                            <p><span class="font-weight-bold">Overturned Vehicle: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Overturned Vehicle: </span>No</p>
                        }
                        @if (Model.OLDER_DRIVER_INVOLVED == true)
                        {
                            <p><span class="font-weight-bold">Older Driver Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Older Driver Involved: </span>No</p>
                        }
                        @if (Model.DISTRACTED_DRIVING == true)
                        {
                            <p><span class="font-weight-bold">Distracted Driving Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Distracted Driving Involved: </span>No</p>
                        }
                    </div>
                    <div class="col">
                        @if (Model.BICYCLIST_INVOLVED == true)
                        {
                            <p><span class="font-weight-bold">Bicyclist Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Bicyclist Involved: </span>No</p>
                        }
                        @if (Model.UNRESTRAINED == true)
                        {
                            <p><span class="font-weight-bold">No Seatbelt: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">No Seatbelt: </span>No</p>
                        }
                        @if (Model.WILD_ANIMAL_RELATED == true)
                        {
                            <p><span class="font-weight-bold">Wild Animal Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Wild Animal Involved: </span>No</p>
                        }
                        @if (Model.COMMERCIAL_MOTOR_VEH_INVOLVED == true)
                        {
                            <p><span class="font-weight-bold">Commercial Vehicle Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Commercial Vehicle Involved: </span>No</p>
                        }
                        @if (Model.NIGHT_DARK_CONDITION == true)
                        {
                            <p><span class="font-weight-bold">Night/Dark Conditions: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Night/Dark Conditions: </span>No</p>
                        }
                        @if (Model.DROWSY_DRIVING == true)
                        {
                            <p><span class="font-weight-bold">Drowsy Driving Involved: </span>Yes</p>

                        }
                        else
                        {
                            <p><span class="font-weight-bold">Drowsy Driving Involved: </span>No</p>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br />
<a class="btn btn-outline-primary mr-2" asp-controller="Home" asp-action="SeeTable">Back</a>
@if (signInManager.IsSignedIn(User))
{

    <a class="btn btn-outline-primary mr-2" asp-controller="Home" asp-action="Edit" asp-route-crashid="@Model.CRASH_ID">Edit</a>
    

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
        Delete
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Delete Accident</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This action cannot be undone. Are you sure you would like to delete the Accident?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-crashid="@Model.CRASH_ID">Delete</a>
                </div>
            </div>
        </div>
    </div>
}
