@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Crash>
@inject SignInManager<IdentityUser> signInManager;


@if (signInManager.IsSignedIn(User))
{
    <div class="d-flex justify-content-between">
        <div><h1>Results for Search</h1></div>
    </div>
}
else
{
    <h1>Results for Search</h1>
}

<br />


<a asp-action="Search">Search Again</a> |
<a asp-action="SeeTable">See All Accidents</a>
<br />

<table class="table table-bordered table-striped text-center">
    <thead class="font-weight-bold">
        <tr class="text-center">

            <td>CRASH ID</td>
            <td>Street Name</td>
            <td>City</td>
            <td>County Name</td>
            <td>Severity</td>
            <td></td>
            @*<td>Working Zone</td>
                <td>Pedestrian Involved</td>
                <td>Bicyclist Involved</td>
                <td>Motorcycle Involved</td>
                <td>Inproper Restraint</td>
                <td>Unrestrained</td>
                <td>DUI</td>
                <td>Intersection Related</td>
                <td>Wild Animal Related</td>
                <td>Domestic Animal Related</td>
                <td>Rollover</td>
                <td>Commercial Vehicle Involved</td>
                <td>Teenage Driver Involved</td>
                <td>Older Driver Involved</td>
                <td>Dark Conditions</td>
                <td>Single Vehicle</td>
                <td>Distracted Driving</td>
                <td>Drowsy Driving</td>
                <td>Roadway Departure</td>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                @*<td class="text-center">
                        <form method="get" asp-action="Edit">
                            <input type="hidden" name="crashid" value="@x.CRASH_ID" />
                            <button type="submit" class="btn btn-sm btn-warning">Edit</button>
                        </form>
                    </td>
                    <td class="text-center">
                        <form method="post" asp-action="Delete">
                            <input type="hidden" name="crashid" value="@x.CRASH_ID" />
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>*@

                <td>@x.CRASH_ID</td>
                <td>@x.MAIN_ROAD_NAME</td>
                <td>@x.CITY</td>
                <td>@x.COUNTY_NAME</td>
                @if (x.CRASH_SEVERITY_ID == 1)
                {
                    <td>No Injury</td>
                }
                @if (x.CRASH_SEVERITY_ID == 2)
                {
                    <td>Possible Injury</td>
                }
                @if (x.CRASH_SEVERITY_ID == 3)
                {
                    <td>Suspected Minor Injury</td>
                }
                @if (x.CRASH_SEVERITY_ID == 4)
                {
                    <td>Suspected Serious Injury</td>
                }
                @if (x.CRASH_SEVERITY_ID == 5)
                {
                    <td>Fatal</td>
                }
                @*@if (x.CRASH_SEVERITY_ID != 1 && x.CRASH_SEVERITY_ID != 2 && x.CRASH_SEVERITY_ID != 3 && x.CRASH_SEVERITY_ID != 4 && x.CRASH_SEVERITY_ID != 5)
                    {
                        <td>nada amigo</td>
                    }*@
                <td class="text-center"><a class="btn btn-sm btn-success" asp-controller="Home" asp-action="CrashDetails" asp-route-crashid="@x.CRASH_ID">View Details</a></td>
                    }

            </tr>

        }
    </tbody>
</table>



