@{
    ViewData["Title"] = "Accident Reports";
}
@model List<Crash>
@inject SignInManager<IdentityUser> signInManager;


@if (signInManager.IsSignedIn(User))
{
    <div class="d-flex justify-content-between">
        <div><h1>Accident Reports Admin View</h1></div>
    </div>
}
else
{
    <h1>Accident Reports</h1>
}

<br />
<div class="d-flex justify-content-around">
    <div class="text-center"><a class="btn btn-outline-primary @(ViewBag.severity == null ? "active" : "")" asp-action="SeeTable" asp-controller="Home">All</a></div>
    <div class="text-center"><a class="btn btn-outline-primary @(ViewBag.severity == 1 ? "active" : "")" asp-action="SeeTable" asp-controller="Home" asp-route-severity="1">No Injury</a></div>
    <div class="text-center"><a class="btn btn-outline-primary @(ViewBag.severity == 2 ? "active" : "")" asp-action="SeeTable" asp-controller="Home" asp-route-severity="2">Possible Injury</a></div>
    <div class="text-center"><a class="btn btn-outline-primary @(ViewBag.severity == 3 ? "active" : "")" asp-action="SeeTable" asp-controller="Home" asp-route-severity="3">Suspected Minor Injury</a></div>
    <div class="text-center"><a class="btn btn-outline-primary @(ViewBag.severity == 4 ? "active" : "")" asp-action="SeeTable" asp-controller="Home" asp-route-severity="4">Suspected Serious Injury</a></div>
    <div class="text-center"><a class="btn btn-outline-primary @(ViewBag.severity == 5 ? "active" : "")" asp-action="SeeTable" asp-controller="Home" asp-route-severity="5">Fatal</a></div>

</div>
<br />


<table class="table table-bordered table-striped text-center">
    <thead class="font-weight-bold">
        <tr class="text-center">

            <td>CRASH ID</td>
            <td>Street Name</td>
            <td>City</td>
            <td>County Name</td>
            <td>Severity</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.CRASH_ID</td>
                <td>@x.MAIN_ROAD_NAME</td>
                <td>@x.CITY</td>
                <td>@x.COUNTY_NAME</td>
                @if (x.CRASH_SEVERITY_ID == 1)
                {
                    <td>No Injury</td>
                }
                @if (x.CRASH_SEVERITY_ID == 2)
                {
                    <td>Possible Injury</td>
                }
                @if (x.CRASH_SEVERITY_ID == 3)
                {
                    <td>Suspected Minor Injury</td>
                }
                @if (x.CRASH_SEVERITY_ID == 4)
                {
                    <td>Suspected Serious Injury</td>
                }
                @if (x.CRASH_SEVERITY_ID == 5)
                {
                    <td>Fatal</td>
                }
                @if (x.CRASH_SEVERITY_ID != 1 && x.CRASH_SEVERITY_ID != 2 && x.CRASH_SEVERITY_ID != 3 && x.CRASH_SEVERITY_ID != 4 && x.CRASH_SEVERITY_ID != 5)
                    {
                        <td>NA</td>
                    }
                <td class="text-center"><a class="btn btn-sm btn-success" asp-controller="Home" asp-action="CrashDetails" asp-route-crashid="@x.CRASH_ID">View Details</a></td>                
            </tr>

        }
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (ViewBag.severity == null)
        {
            @if (ViewBag.currPage != 1)
            {
                <li class="page-item"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage - 1)">Previous</a></li>
            }

            <li class="page-item active"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage)">@ViewBag.currPage</a></li>
            <li class="page-item"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage + 1)">@(ViewBag.currPage + 1)</a></li>
            <li class="page-item"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage + 2)">@(ViewBag.currPage + 2)</a></li>
            <li class="page-item"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage + 1)">Next</a></li>
        }
        else
        {
            @if (ViewBag.currPage != 1)
            {
                <li class="page-item"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage - 1)" asp-route-severity="@ViewBag.severity">Previous</a></li>
            }

            <li class="page-item"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage)" asp-route-severity="@ViewBag.severity">@ViewBag.currPage</a></li>
            <li class="page-item"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage + 1)" asp-route-severity="@ViewBag.severity">@(ViewBag.currPage + 1)</a></li>
            <li class="page-item"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage + 2)" asp-route-severity="@ViewBag.severity">@(ViewBag.currPage + 2)</a></li>
            <li class="page-item"><a class="page-link" asp-action="SeeTable" asp-controller="Home" asp-route-page="@(ViewBag.currPage + 1)" asp-route-severity="@ViewBag.severity">Next</a></li>
        }

    </ul>
</nav>